// content styles
.fullscreen-frame
    position relative
    width 100%
    max-width max-content-width
    height: 100vh
    height: 100lvh
    min-height: min-screen-height
    margin auto

@import 'hero-section/style.styl'
@import 'intro-section/style.styl'
@import 'cyberprotect-section/style.styl'
@import 'dataprotect-section/style.styl'
@import 'electronicsprotect-section/style.styl'