/*==========================================================
 Cyber Protect Section
==========================================================*/
#electronicsprotect-section
    background-color: cd-theme-orange
    .content-frame
        min-height: 100vh
        min-height: 100lvh
        height auto
        padding-top 240px
        padding-bottom 180px

#electronicsprotect-big-block
    @extends .light-dropshadow
    position relative
    z-index 1
    background-color cd-card-background
    border-radius: 120px

#electronicsprotect-text-block 
    position relative
    z-index 1
    color white
    padding 180px 80px 200px 80px
    margin-left: 480px

    h1
        margin-bottom 30px
    h2
        margin-bottom 60px
    button
        @extends .light-dropshadow
        display block
        border-radius: 20px
        color cd-theme-orange
        background-color #fff
        height 40px
        width 300px
    // p
    //     margin-left: 480px
    //     line-height: 20px
    //     margin-bottom 20px

#electronicsprotect-images-block
    position absolute
    width 50%
    height 100%
    top 0
    left 0
    // border solid 2px black
    // box-sizing: border-box
    z-index: 0

    img
        @extends .light-dropshadow
        position absolute
        border-radius 70px
        overflow: hidden
        object-fit: cover
        background-color white

#electronicsprotect-image1
    width 140px
    height 220px
    left 80px
    bottom 240px
    z-index 0

#electronicsprotect-image2
    width 140px
    height 220px
    left 140px
    bottom 140px
    z-index 1

#electronicsprotect-image3
    width 140px
    height 220px
    left 240px
    bottom 240px
    z-index 2

#electronicsprotect-image4
    width 140px
    height 220px
    left 320px
    bottom 140px
    z-index 3
