section#smartbroker-section
    .content-frame
        h1 Dein smarter Insurance Broker
        #smartbroker-cards
            section.smartbroker-card 
                //- .smartbroker-card-image: include contract-visualisation.svg
                #contract-image.smartbroker-card-image
                h2 Der einfache Weg zur eigenen Polizze
                //- p Das zu versichernde Risiko online mit unserem zur Verfügung gestellten Formular anfragen.
                p Das zu versichernde Risiko<br> <a href="/protectnow.html">hier anfragen</a>.
                //- p Nach Prüfung der Angaben senden wir die Offerte direkt an den Interessenten.
                p Nach Prüfung der Angaben senden wir die Offerte an den Interessenten.
                //- p Nach dessen Zustimmung wird damit die Polizze erstellt, die dann direkt an den Versicherungsnehmer geht.
                p Nach dessen Zustimmung wird die Polizze erstellt, die an den Versicherungsnehmer geht.
                
            section.smartbroker-card
                //- .smartbroker-card-image: include screen-visualization.svg
                #individualized-image.smartbroker-card-image
                h2 Bedarfsgerechte Konzepte
                p Unsere zur Verfügung gestellten Deckungskonzepte werden aufgrund übermittelter Daten auf das zu versichernde Risiko angepasst.
            section.smartbroker-card
                //- .smartbroker-card-image: include transparence-visualization.svg
                #transparence-image.smartbroker-card-image
                h2 Transparenz<br> 
                p Transparente Kommunikation in einer intransparenten Zeit gehören zu unseren Qualitätsmerkmalen.
