/*==========================================================
 Smartbroker Section
==========================================================*/
#smartbroker-section
    .content-frame
        height auto

    h1 
        padding-top 200px
        margin-left 80px
        margin-bottom 160px
        text-shadow: 2px 2px 4px #0003
    h2
        margin-left auto
        margin-right auto    
        // margin-top: 30px
        margin-bottom 30px
        font-size: 34px
        font-family: 'NotoSans Light'
        line-height: 140%
        width: fit-content
        min-height: 96px
        text-align: center
    p
        line-height: 160%
        color black
        font-size: 18px
        margin-bottom 12px


#smartbroker-cards
    display flex
    justify-content: space-between

    .smartbroker-card
        @extends .dropshadow
        width 390px
        height 500px
        background-color cd-card-background
        // border-radius: 120px
        padding 0 40px
        box-sizing: border-box
        a
            color white
            text-decoration: underline
    
    .smartbroker-card-image
        height 180px
        width 180px
        // background-color black
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        margin auto
        position: relative
        top -60px

/*==========================================================
 Smartbroker Images
==========================================================*/
#contract-image
    background-image url('/img/contract.svg')
#individualized-image
    background-image url('/img/screen.svg')
#transparence-image
    background-image url('/img/transparence.svg')
