//- footer structure
#footer
    #footer-left 
        #address-left
            p Assecura GmbH
            p Kepplerstraße 105/3
            p 8020 Graz
        #footer-social-media-buttons
            a#footer-linkedin-button(href="https://www.linkedin.com/company/assecura-smart-insurance-advice" target="_blank")
                svg: use(href="#svg-linkedin-icon")
            //- a#footer-twitter-button(href="https://twitter.com/Assecura_Insure" target="_blank")
            //-     svg: use(href="#svg-twitter-icon")
            a#footer-instagram-button(href="https://www.instagram.com/assecura.io" target="_blank")
                svg: use(href="#svg-instagram-icon" target="_blank")
            a#footer-facebook-button(href="https://www.facebook.com/assecura.at" target="_blank")
                svg: use(href="#svg-facebook-icon")

    #footer-right
        #footer-menu
            h2 Menü
            p: a(href="/cyberprotect.html") Cyber Protect
            p: a(href="/deepdive.html") Deep Dive
            p: a(href="/protectnow.html") Protect Now
            p: a(href="/contact.html") Kontakt

        #footer-company
            h2 Company 
            p: a(href="/about.html") Über

        #footer-dataprotection
            h2 Datenschutz

        #footer-impressum
            h2 Impressum            
            p Assecura GmbH
            p Kepplerstraße 105/3
            p 8020 Graz
