//- footer structure
#footer
    #footer-left 
        #address-left
            p Assecura GmbH
            p Kepplerstraße 105/3
            p 8020 Graz
        #footer-social-media-buttons
            a#footer-linkedin-button(href="https://www.linkedin.com/company/assecura-smart-insurance-advice" target="_blank")
                svg: use(href="#svg-linkedin-icon")
            a#footer-twitter-button(href="https://twitter.com/Assecura_Insure" target="_blank")
                svg: use(href="#svg-twitter-icon")
            a#footer-instagram-button(href="https://www.instagram.com/assecura.io" target="_blank")
                svg: use(href="#svg-instagram-icon" target="_blank")
            a#footer-facebook-button(href="https://www.facebook.com/assecura.at" target="_blank")
                svg: use(href="#svg-facebook-icon")

    #footer-right
        #footer-menu
            h2 Menü
            p: a(href="#cyberprotect-section") Cyber Protect
            p: a(href="#dataprotect-section") Data Protect
            p: a(href="#electronicsprotect-section") Electronics Protect
            p: a(href="#cyber-war") Cyber War
        #footer-company
            h2 Company 
            p: a(href="#uber-uns-war") Über

        #footer-dataprotection
            h2 Datenschutz

        #footer-impressum
            h2 Impressum            
            p Assecura GmbH
            p Kepplerstraße 105/3
            p 8020 Graz
