//- footer structure
#footer.fullscreen-frame
    #footer-top-decoration-line: svg: use(href="#svg-triangle-down")
    button#footer-contact-button.click-button Contact Us
    #footer-bottom-line 
        #footer-info 
            #address-left
                p Assecura GmbH
                p Kepplerstraße 105/3
                p 8020 Graz
            #address-left
                p Assecura GmbH
                p Kepplerstraße 105/3
                p 8020 Graz
        #footer-social-media-buttons
            a#footer-linkedin-button(href="https://www.linkedin.com/company/assecura-smart-insurance-advice" target="_blank")
                svg: use(href="#svg-linkedin-icon")
            a#footer-twitter-button(href="https://twitter.com/Assecura_Insure" target="_blank")
                svg: use(href="#svg-twitter-icon")
            a#footer-instagram-button(href="https://www.instagram.com/assecura.io/?igshid=YmMyMTA2M2Y%3D" target="_blank")
                svg: use(href="#svg-instagram-icon" target="_blank")
            a#footer-facebook-button(href="https://www.facebook.com/assecura.at" target="_blank")
                svg: use(href="#svg-facebook-icon")
