// footer styles
#footer
    background transparent
    color cd-theme-orange

    button
        @extends .dropshadow
        background-color cd-theme-orange
        color white
        width 300px
        height 40px
        border-radius: 20px

#footer-top-decoration-line
    height 80px
    width 100%
#footer-contact-button
    position: absolute
    top 220px
    left 50%
    transform translateX(-50%)

#footer-bottom-line
    position absolute
    left 0
    bottom 0
    padding 0 40px
    width 100%
    box-sizing: border-box
    p
        line-height: 20px

#footer-info 
    display flex
    justify-content: space-between

#footer-social-media-buttons
    margin-top 20px
    margin-left -5px
    a
        height: 40px
        width: 40px
        margin-right 40px
