// footer styles
footer
    max-width: max-content-width
    margin: auto
    padding-bottom 80px
    
#footer
    background-color white
    color cd-theme-orange
    height 440px
    position: relative

#footer-left
    position absolute
    left 0
    bottom 0
    padding 0 40px
    box-sizing: border-box

#footer-social-media-buttons
    margin-top 20px
    margin-left -5px
    a
        height: 40px
        width: 40px
        margin-right 13px

#footer-right 
    display flex
    justify-content: space-between
    width 720px
    position absolute
    left 420px
    bottom 200px
    padding 0 40px

    h2
        font-family: 'NotoSans Regular'
        font-size: 20px
        line-height: 23px
        text-shadow: none
        margin-bottom: 15px
    p
        margin-bottom: 12px
