// footer styles
footer
    max-width: max-content-width
    margin: auto
    
#footer
    font-family: "Poppins Light"
    background-color white
    color cd-theme-orange
    display flex
    justify-content: flex-start
    padding-top 60px
    padding-bottom 200px
    position relative
    z-index: 999

#footer-address-block
    width 200px
    margin-right 80px
    box-sizing: border-box

#footer-social-media-buttons
    margin-top 20px
    margin-left -5px
    a
        height: 40px
        width: 40px
        margin-right 13px

    display flex
    justify-content: space-between

.link-list
    width 140px
    padding 0 40px
    h2
        font-family: "Poppins Bold"
        font-size: 20px
        line-height: 23px
        text-shadow: none
        margin-bottom: 15px
    p
        margin-bottom: 12px



@media mobilescreen
    footer
        max-width: 90%
        margin: auto
        text-align: center
    
    #footer
        flex-direction: column-reverse
        align-items: center
        gap: 60px
        padding-top 60px
        padding-bottom 60px

    #footer-address-block
        margin-right 0
