//- main content structure
#cyberprotect-frame
    .activatable-container
        h1 Warum Cyber Protect?
            button#cyberprotect-button
        .info-card
            p Die Bedrohung durch Cyberangriffe ist in der heutigen digitalen Welt zu einer ernsthaften Gefahr für Unternehmen geworden. Aus diesem Grund ist es von entscheidender Bedeutung, Unternehmen gegen diese Angriffe abzusichern. 
            p Die Anzahl und Komplexität von Cyberangriffen nehmen kontinuierlich zu.Hackergemeinschaften und kriminelle Organisationen entwickeln ständig neue Techniken, um Sicherheitsmaßnahmen zu umgehen.
            p Eine Cyber-Versicherung bietet eine finanzielle Absicherung, falls Ihr Unternehmen Opfer eines solchen Angriffs wird. Der Verlust sensibler Unternehmensdaten kann erhebliche finanzielle Auswirkungen haben. Von den Kosten für die Wiederherstellung der Daten über die Einhaltung von Datenschutzbestimmungen bis hin zu möglichen Schadensersatzforderungen von Kunden und Partnern können die finanziellen Folgen verheerend sein.
            p Eine Cyber-Versicherung kann helfen,diese Kosten zu decken und Ihr Unternehmen vor finanziellen Schäden zu schützen. Ein Cyberangriff kann nicht nur finanzielle Schäden verursachen, sondern auch das Ansehen und den Ruf eines Unternehmens beeinträchtigen. Kunden verlieren möglicherweise das Vertrauen in Ihre Marke,und potenzielle Geschäftspartner könnten zögern,mit Ihnen zusammenzuarbeiten. 
            p Eine Cyber-Versicherung kann helfen, den Ruf des Unternehmens wiederherzustellen und das Vertrauen der Kunden und Partner zu stärken. 
            p Ein erfolgreicher Cyberangriff kann den normalen Geschäftsbetrieb stark beeinträchtigen, oder sogar zum Stillstand bringen. Dies kann zu erheblichen finanziellen Verlusten führen, insbesondere wenn Umsatzrückgänge und Produktivitätsverluste berücksichtigt werden. 
            p EineCyber-Versicherunghilft, die finanziellen Auswirkungen einer Betriebsunterbrechung abzufedern und Ihren Geschäftsbetrieb so schnell wie möglich wieder aufzunehmen.

            //- a.click-button(href="/deepdive.html") Deep Dive
        .link-wrapper
            a.click-button Deep Dive