section#dataprotect-section.fullscreen-frame
    #dataprotect-text-block 
        h1 Data Protect - Unsere drei <b>Data Guards</b>
        #dataprotect-firewalls-container
            h2 Technical Defects
            .data-guard
                .outer-frame
                //- .img-placeholder
                img#data-guard1-avatar(src="img/small-fabio-ballasina-wEL2zPX3jDg-unsplash.webp" alt="Futuristic Avatar Image.")
                p  Wenn die Hardware, auf der die Daten gespeichert sind, defekt ist, können die Daten verloren gehen oder beschädigt werden. Beispiele dafür sind Festplattenausfälle, Defekte von Speicherkarten oder USB-Sticks.
            h2 Theft Protect
            .data-guard
                .outer-frame
                //- .img-placeholder
                img#data-guard1-avatar(src="img/logo.png" alt="Futuristic Avatar Image.")
                p Wenn ein Gerät gestohlen wird, gehen auch die darauf gespeicherten Daten verloren. Hier kann eine Versicherung helden, die Kosten für die Wiederherstellung oder die Ersatzbeschaffung zu tragen.
            h2 Human Cause
            .data-guard
                .outer-frame
                //- .img-placeholder
                img#data-guard1-avatar(src="img/logo.png" alt="Futuristic Avatar Image.")
                p Fehlbedienung oder versehentliches Löschen von Dateien können ebenfalls zu einem Datenverlust führen.
        button#dataprotect-deepdive-button.click-button Deep Dive
