/*==========================================================
 Cyber Protect Section
==========================================================*/
#dataprotect-section
    background-color: cd-theme-orange
    position relative
    min-height: 100vh
    min-height: 100lvh
    height auto

#dataprotect-text-block
    position relative
    z-index 1
    color white
    padding 300px 80px 220px 80px

    h1
        text-align: center
        margin-bottom 100px
        line-height: 100%
    h2
        margin-left 200px
        margin-bottom 20px
        margin-top 80px
        line-height: 100%
    
    .data-guard
        position: relative
        margin-left 140px
        margin-right 180px
        height 80px
        border-radius: 40px
        @extends .dropshadow
        .outer-frame
            position: absolute
            top 0
            left 0
            height 80px
            width: 100%
            border solid 2px white
            box-sizing: border-box
            border-radius: 40px

        .img-placeholder
        img
            position absolute
            top 0
            left 0
            height 80px
            width 80px
            border solid 2px white
            box-sizing: border-box
            border-radius: 40px
    p
        margin-left 80px
        padding 20px
        line-height: 20px
    button
        position absolute
        @extends .dropshadow
        display block
        border-radius: 20px
        color cd-theme-orange
        background-color #fff
        height 40px
        width 300px
        bottom 80px
        right 80px

#dataprotect-images-block
    position absolute
    width 50%
    height 100%
    top 0
    left 0
    border solid 2px black
    box-sizing: border-box
    z-index: 0

// #intro-final-text-block
//     position relative
//     z-index 1
//     padding 300px 80px 80px 80px
//     h1
//         margin-bottom 20px
//     h2
//         margin-bottom 16px
// #intro-final-images-block