#threat1.active
    h3 Backdoor
    p Ein Backdoor-Angriff(Hintertür-Angriff)ist eine Cyberangriffstechnik, bei der Angreifer heimliche einen nicht autorisierten Zugang zu einem Computersystem, einer Softwareanwendung oder einem Netzwerk schaffen. Diese Hintertür ermöglicht es den Angreifern, jederzeit wieder Zugriff auf das System zu erhalten, ohne dass die legitimen Benutzer oder Adminisrtatoren davon Kenntnis haben. Backdoor-Angriffe werden oft von Hackern, Malware-Entwicklern oder bösartigen Insidern eingesetzt und können erhebliche Sicherheitsrisiken darstellen.

#threat2    
    h3 Malware         
    p Die Begriffe Schadfunktion, Schadprogramm, Schadsoftware und Malware werden häufig synonym benutzt. Malware ist ein Kunstwort, abgeleitet aus “MaliciousSoftware” und bezeichnet Software, die mit dem Ziel entwickelt wurde, unerwünschte und meistens schädliche Funktionen auszuführen. Beispiele für Malware sind Computerviren, Würmer und Trojanische Pferde. Schadsoftware ist üblicherweise für eine bestimmte Betriebssystemvariante konzipiert und wird daher meist für verbreitete Systeme und Anwendungen geschrieben.


#threat3    
    h3 DDoS - Distributed Denial of Service        
    p Mit einem Denial-of-Service-Angriff (DoS) können Cyberkriminelle Webserver oder Datennetze bewusst überlasten. Noch wirkungsvoller sind DDoS-Angriffe (Distributed-Denial-of-Service-Angriffe). Bei dieser Attacke werden Server lahmgelegt, indem gleich mehrere Computer parallel und im Verbund (Botnetz) eine Webseite oder eine Netz-Infrastruktur angreifen.


#threat4
    h3 Erpressung     
    p Ransomware ist eine Art von Schadsoftware (Malware), die entwickelt wurde, um Daten oder Systeme zu verschlüsseln oder zu blockieren und dann von den Opfern ein Lösegeld (Ransom) zu fordern, um die verschlüsselten Daten wiederherzustellen oder den Zugriff auf das infizierte System wiederherzustellen. Ransomware ist eine der gefährlichsten und weit verbreitetsten Formen von Cyberbedrohungen.

#threat5
    h3 Social Engineering    
    p Soziale Manipulation (Social Engineering) ist eine Technik, bei der Angreifer psychologische Tricks und Täuschungen einsetzen, um Menschen dazu zu bringen, vertrauliche Informationen preiszugeben, unautorisierte Zugriffe auf Systeme zu ermöglichen oder bestimmte Handlungen auszuführen, die ihren Interessen dienen. Dabei nutzen die Angreifer oft menschliche Schwächen, wie Vertrauen, Neugier, Gutgläubigkeit oder das Bedürfnis nach Hilfe, aus, um ihre Ziele zu erreichen. Soziale Manipulation ist eine häufige Taktik in der Welt der Cyberkriminalität und kann auf verschiedene Arten durchgeführt werden.

#threat6
    h3 Verschlüsselung         
    p Ein Hackangriff, bei dem Daten verschlüsselt werden, ist in der Regel ein Angriff mit Ransomware. Dies ist eine Art von Cyberangriff, bei dem ein Angreifer in die Computer-Systeme oder das Netzwerk eines Opfers eindringt und die darauf befindlichen Daten oder Dateien verschlüsselt. Die Opfer werden dann mit einer Erpressungsnachricht konfrontiert, in der sie aufgefordert werden, ein Lösegeld zu zahlen, um die Entschlüsselungsschlüssel zu erhalten und ihre Daten wiederherzustellen.
    