#threat1.active
    h3 Ransomware-Angriffe 
    p Ein Ransomware-Angriff ist eine Art von Cyberangriff, bei dem Schadsoftware verwendet wird, um die Daten oder Systeme eines Opfers zu verschlüsseln oder zu blockieren. Der Angreifer fordert dann ein Lösegeld von dem Opfer, um die Daten oder den Zugriff wiederherzustellen.
#threat2
    h3 DDoS - Distributed Denial of Service 
    p Angriffe, bei denen die Netz- oder Systemnutzer am Zugang zu einschlägigen Informationen Diensten und anderen Ressourcen hindert werden.
#threat3
    h3 Social Engineering 
    p Bedrohung durch Versuche, menschliches Versagen oder menschliches Verhalten auszunutzen, um Zugang zu Informationen oder Diensten zu erhalten.
#threat4
    h3 Border Gateway 
    p Angriffe, die darauf abzielen Netzteilnehmer von der Internetverbindung abzutrennen.
#threat5
    h3 Diebstahl und Verlust 
    p Geräte wie Laptops, Smartphones und externe Festplatten können gestohlen oder verloren gehen, was zum Verlust von Daten führen kann.