#right-threat1.right-frame
    h1 Zahlungsmittelschaden
    
    h2 Zahlungsmittelschaden Beispiel 
    p Ein Online-Reisebüro wird Opfer eines Hackerangriffes. Der Hacker hat sich eine „Backdoor“ installiert, mit welcher er sich Zugang zu Kreditkartendaten der Plattform verschafft. Dies wird bekannt und die Kreditkartenhersteller müssen alle Kreditkarten austauschen. Die Kosten für den Austausch belaufen sich auf 250.000€.
    
    .activatable-container
        h2 Zahlungsmittelschaden Versicherung 
            button
        p Diese Versicherung schützt Unternehmen vor finanziellen Verlusten, die durch Betrug oder finanzielle Täuschung im Zusammenhang mit Cyberangriffen oder betrügerischen Online-Transaktionen entstehen können.


#right-threat2.right-frame
    h1 Cyber Haftpflicht
    
    h2 Haftpflichtschaden Beispiel 
    p Ein Onlinebuchversand stellt kostenlose Leseproben zum Download zur Verfügung. Trotz aller Sicherheitsmaßnahmen wird eine infizierte Datei zum Download angeboten. Die IT-Systeme mehrerer Kunden werden dadurch infiziert. Der entstandene Gesamtschaden beläuft sich auf 30.000€.
    

    .activatable-container
        h2 Haftpflichtversicherung 
            button
        p Eine Haftpflichtversicherung, deckt Schäden, die Sie an deren Personen oder deren Eigentum unbeabsichtigt zufügen. Diese Versicherung schützt Sie vor finanziellen Verpflichtungen, die aus Haftungsfällen resultieren können. Es gibt verschiedene Arten von Haftpflichtversicherungen.




#right-threat3.right-frame
    h1 Cyber Betriebsunterbrechung
    
    h2 Betriebsunterbrechung Beispiel  
    p Ein Unternehmen wird mit einer Denial-of-Service-Attacke(DDOS) angegriffen. Die Plattform und damit verbundene Dienste, sind 2 Tage für Kunden nicht erreichbar. Die Kosten für die Anmietung zusätzlicher Serverkapazitäten sowie die Kosten der Betriebsunterbrechung und Wiederherstellung der ursprünglichen Homepage belaufen sich auf 80.000€.
    
    .activatable-container
        h2 Betriebsunterbrechung Versicherung
            button
        p Eine Betriebsunterbrechungs-versicherung, auch als Ertragsausfallversicherung oder Business Interruption Insurance bezeichnet, ist eine Art von Versicherung, die Unternehmen gegen finanzielle Verluste absichert, die aufgrund unvorhergesehener Umstände eintreten können und zu einer Betriebsunterbrechung führen. Diese Versicherung kann in verschiedenen Situationen in Kraft treten.

#right-threat4.right-frame
    h1 Lösegeld
    
    h2 Haftpflichtschaden Beispiel 
    p Ein Onlinebuchversand stellt kostenlose Leseproben zum Download zur Verfügung. Trotz aller Sicherheitsmaßnahmen wird eine infizierte Datei zum Download angeboten. Die IT-Systeme mehrerer Kunden werden dadurch infiziert. Der entstandene Gesamtschaden beläuft sich auf 30.000€.
    
    .activatable-container
        h2 Haftpflichtversicherung 
            button
        p Eine Haftpflichtversicherung, deckt Schäden, die Sie an deren Personen oder deren Eigentum unbeabsichtigt zufügen. Diese Versicherung schützt Sie vor finanziellen Verpflichtungen, die aus Haftungsfällen resultieren können. Es gibt verschiedene Arten von Haftpflichtversicherungen.

#right-threat5.right-frame
    h1 Vertrauensschaden
    
    h2  Vertrauensschaden Beispiel
    p Der Mitarbeiter eines Unternehmens hat Zugang zu mehreren Konten seines Arbeitgebers. Dies nutzt er aus, um sich über einen längeren Zeitraum kleine Beträge auf sein Privatkonto zu überweisen. Der über ein Jahr entstandene Schaden beträgt insgesamt 32.000€.

    .activatable-container
        h2 Vertrauensschaden Versicherung 
            button
        p Eine Vertrauensschadenversicherung, auch als Fidelity Insurance bezeichnet, ist eine Versicherung, die Unternehmen vor finanziellen Verlusten aufgrund von betrügerischen Handlungen ihrer eigenen Mitarbeiter oder Vertrauenspersonen schützt. Diese Versicherung kann für Unternehmen von entscheidender Bedeutung sein, insbesondere wenn sie sensible Informationen, finanzielle Vermögenswerte oder Gelder von Kunden oder Geschäftspartnern verwalten. Hier sind die wichtigsten Merkmale einer Vertrauensschadenversicherung: Zuverläßigkeit und Kompetenz. 


#right-threat6.right-frame
    h1 Eigenschäden
    
    h2 Eigenschaden Beispiel    
    p Der Mitarbeiter einer Rechtsanwaltskanzlei öffnet den Anhang einer E-Mail, welcher einen Verschlüsselungstrojaner beinhaltet. Alle Daten auf den Systemen der Kanzlei werden somit unlesbar gemacht. Die Kosten für die IT-Forensik sowie die Entfernung der Schadsoftware und Installation neuer Sicherheitssoftware betragen 26.000€.

    .activatable-container
        h2 Eigenschaden Versicherung 
            button
        p Eine Eigenschadenversicherung - auch „First-Party-Versicherung“ genannt - ist eine Versicherung, die dazu dient, eine Organisation vor finanziellen Verlusten oder Schäden an ihrem eigenen Vermögen, Eigentum oder Interessen abzusichern. Im Wesentlichen deckt diese Art der Versicherung die Risiken und Schäden, die das Unternehmen selbst erleidet, im Gegensatz zur Haftpflichtversicherung, die Schäden abdeckt, die das Unternehmen anderen Parteien zufügen könnte.

