section#commonthreats-section
    .content-frame
        #threats-display 
            #threats-outer-container
                h2 Häufigsten Cyberbedrohungen
                #threats-content: include content.pug
                a#threats-call-to-action.clickbutton(href="/protectnow.html") Protect Now 
                nav#threats-content-nav: include navigation.pug
        #threats-right-decoration
            h1 Cyber Protect
            #decoration-arrow
