section#commonthreats-section
    .content-frame
        #threats-circle-container
            #threats-circle 
                #threats-container
                    h2 Häufigsten<br> Cyberbedrohungen
                    #threats-content: include circle-content.pug
                    a#threats-call-to-action.click-button(href="/protectnow.html") Protect Now 
                    nav#threats-content-nav: include navigation.pug
        #threats-right-container 
            include right-frames.pug