/*==========================================================
 Common Threats Section
==========================================================*/
#commonthreats-section
    padding-top 1px
    background-color: cd-theme-orange
    min-height 600vh
    position relative
    
    .content-frame
        position sticky
        top 0
        // left 50%
        width max-content-width
        // transform translateX(-50%)
        padding-top 10vh
        padding-left 80px
        padding-right 80px
        margin-bottom 80px
        margin-top 20vh
        // margin-bottom 80px
        display: flex
        justify-content: space-evenly

    #threats-display
        position relative
        width 50%

        #threats-circle
            position absolute
            top 0 
            left 0
            width 100%
            padding-bottom 100%
            // box-sizing: border-box
            border solid 4px white
            border-radius: 50%

        #threats-container
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)

            h2
                color white
                text-align center
                font-size 36px
            nav
                display flex
                justify-content: center
                padding-top 20px
                a
                    height 15px
                    width 15px
                    transform: scale(0.5)
                    transition transform 0.3s
                    margin-left 5px
                    cursor pointer
                a.active
                    transform: scale(1.0)

            a#threats-call-to-action
                margin auto
        
        #threats-content
            position relative
            height: 280px
            width 320px
            margin auto
            
            .active
                opacity: 1
                z-index: 1

        #threats-content > *
            position absolute
            top 50%
            left 50%
            width 100%
            transform translate(-50%, -50%)
            opacity 0
            z-index -1
            text-align center
            transition: opacity 0.5s ease-out
            h3
                font-size: 32px
            p
                line-height 140%
                text-align: left
                padding 10px

    #threats-right-decoration
        width 50%
        h1
            color white
            font-size: 56px
            margin-bottom 40px
            margin-left 20px
        #decoration-arrow
            margin-left 20px
            width 80px
            height 80px
            background-image: url("/img/arrow.svg")
            background-size: contain
            background-repeat: no-repeat