section#hero-section
    .fullscreen-frame
        #hero-grid
            #hero-left
                h1#hero-title Find your secure<br><b>cyber protect</b><br> by Assecura 
                button#contact-button.click-button Contact 
                p#hero-text Die Unterstützung bei der Vorbereitung auf <br>unsichere Zeiten <b>steht im Mittelpunkt unserer Arbeit</b>
            #hero-right
                #hero-logo: svg: use(href="#svg-assecura-logo")
    #hero-bottom-decoration
        #white-triangle: svg: use(href="#svg-triangle-down")