#hero-section
    position relative
#hero-grid
    position absolute
    top  50%
    left 50%
    transform: translate(-50%, -50%)
    width: inner-content-width
    // display grid
    // grid-template-columns: 1fr 1fr
    display flex
    justify-content: space-between

#hero-right
#hero-left
    width: 420px
    align-self: center


#hero-title
    font-size: 20px
    line-height 40px
    b
        font-size 32px
        color cd-theme-orange
        text-transform: uppercase
        white-space: nowrap
        vertical-align: middle
    
#hero-logo
    height 320px
    width 320px
    color cd-theme-orange
    display block
    margin auto

#hero-text
    // font-family: "NotoSans Light"
    margin-top 36px
    line-height 130%


#contact-button
    @extends .dropshadow
    background-color cd-flash
    color white
    border-radius: 20px
    height 40px
    font-size 16px
    margin-top 30px
    width: 300px
    cursor pointer


#hero-bottom-decoration
    height 60px
    width 100%
    background-color cd-theme-orange
    position absolute
    bottom 0
    overflow: hidden

    #white-triangle
        position: absolute
        width 80px
        height 80px
        color white
        top 0
        left 50%
        transform translateX(-50%)

        