section#smartbroker-section
    .content-frame
        h1 Der smarte Insure Broker
        #smartbroker-cards
            section.smartbroker-card 
                //- .smartbroker-card-image: include contract-visualisation.svg
                #contract-image.smartbroker-card-image
                h2 Der einfache Weg zur eigenen Polizze
                p Das zu versichernde Risiko online mittels unserer zur Verfügung gestellter Formulare ausfüllen.<br>Nach prüfung der Angaben senden wir die Polizze direkt an den Vertragsinhaber weiter.
            section.smartbroker-card
                //- .smartbroker-card-image: include screen-visualization.svg
                #individualized-image.smartbroker-card-image
                h2 Bedarfsgerechte Konzepte
                p Unsere zur Verfügung gestellten Deckungskonzepte werden mittels übermittelten Daten auf das zu versichernde Risiko angepasst.<br> Um unser Ziel zu erreichen greifen wir auf ein starkes Netzwerk zurück.
            section.smartbroker-card
                //- .smartbroker-card-image: include transparence-visualization.svg
                #transparence-image.smartbroker-card-image
                h2 Transparenz<br> 
                p Transparente Kommunikation in einer intransparenten Zeit sowohl in digitaler als auch Analogen Form gehören zu unseren Qualitätsmerkmalen.
