/*==========================================================
 Variables
==========================================================*/
medium-arrow-size = 320px
big-arrow-size = 720px

/*==========================================================
 Intro Section
==========================================================*/
#intro-section
    @extends .dropshadow
    padding 80px 0
    border-radius 80px
    background-color cd-theme-orange
    color white
    overflow: visible
    position relative
    z-index 1


/*==========================================================
 Sub Sections
==========================================================*/
@import 'danger-section/style.styl'
@import 'smartbroker-section/style.styl'