section#danger-section
    .content-frame
        #danger-text-block
            h2#danger-heading Bei zunehmender <b>Digitalisierung</b><br> und Vernetzung steigt die <b>Gefahr</b><br> von Cyber-Attacken
            h3#danger-sub-heading Assecura ermöglicht das Versichern digitaler Risiken.<br>Wir vereinen die digitale Welt mit altbewährter Versicherungsexpertise.
            //- a#cyberprotect-button.click-button(href="/cyberprotect.html") Cyber Protect 
            a#deepdive-button.click-button(href="/deepdive.html") Deep Dive 
                

        #danger-images-block
            img#danger-image1(src="img/small-samuel-regan-asante-9gPGDVONcuQ-unsplash.webp" alt="Futuristic Decoration Image.")
            img#danger-image2(src="img/small-donny-jiang-oeZrm_Ea8v4-unsplash.webp" alt="Futuristic Decoration Image.")
            img#danger-image3(src="img/small-joshua-gandara-xxn48oa73sM-unsplash.webp" alt="Futuristic Decoration Image.")