/*==========================================================
 Danger Section
==========================================================*/
#danger-section
    padding-top 200px
    // padding-bottom 80px
    .content-frame
        position relative
        height auto

#danger-text-block
    position relative
    z-index 1
    padding 160px 80px 300px 8px
    h1
        margin-bottom 20px
        color black
    h2
        margin-bottom 32px
        max-width 780px
        font-size: 32px
        color black
    b
        color cd-flash

#cyberprotect-button
    @extends .dropshadow
    background-color white
    color cd-theme-orange
    border-radius: 20px
    height 40px
    font-size 16px
    margin-top 30px
    width: 300px
    cursor pointer
    line-height: 40px
    text-align: center
    font-family: NotoSans Regular


#danger-images-block
    position absolute
    transform-style: preserve-3d
    -webkit-perspective: 10px;
    perspective: 10px
    -webkit-perspective-origin-x: 50%;
    perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    perspective-origin-y: 50%;
    width 50%
    height 100%
    top 0
    right 0
    // border solid 2px black
    // box-sizing: border-box
    z-index: 0

    img
        @extends .dropshadow
        position absolute
        border-radius 60px
        overflow: hidden
        object-fit: cover
        background-color white
        width 260px
        height 360px

#danger-image1
    left 80px
    bottom 220px

#danger-image2
    left 220px
    bottom 40px

#danger-image3
    left 380px
    bottom 220px