/*==========================================================
 Danger Section
==========================================================*/
#danger-section
    padding-top 200px
    // padding-bottom 80px
    .content-frame
        position relative
        height auto

#danger-text-block
    position relative
    z-index 1
    padding 160px 80px 300px 8px
    #danger-heading
        margin-bottom 20px
        font-family: "Poppins Light"
        font-size 40px
        line-height 69px
    #danger-sub-heading
        font-family: "Poppins Light"
        font-size: 30px
        line-height: 45px
        max-width 700px
        margin-left 5px
    b
        color cd-flash

// #cyberprotect-button
//     @extends button
//     background-color white
//     color cd-theme-orange
//     margin-top 70px

#deepdive-button
    @extends button
    background-color white
    color cd-theme-orange
    margin-top 70px
    margin-left 5px
    // margin-left 60px


#danger-images-block
    position absolute
    transform-style: preserve-3d
    -webkit-perspective: 10px;
    perspective: 10px
    -webkit-perspective-origin-x: 50%;
    perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    perspective-origin-y: 50%;
    width 50%
    height 100%
    top 0
    right 0
    // border solid 2px black
    // box-sizing: border-box
    z-index: 0

    img
        @extends .dropshadow
        position absolute
        border-radius 60px
        overflow: hidden
        object-fit: cover
        background-color white
        width 260px
        height 360px

#danger-image1
    left 80px
    bottom 220px

#danger-image2
    left 220px
    bottom 40px

#danger-image3
    left 380px
    bottom 220px


@media mobilescreen

    // #danger-section
    //     padding-top 60px

    #danger-images-block
        // display none
        position: relative
        height 400px
        width 100%
        max-width 320px
        margin auto

        img
            border-radius 20px
            width 160px
            height 220px
            // border-radius 60px
            // overflow: hidden
            // object-fit: cover
            // background-color white
            // width 260px
            // height 360px

        #danger-image1
            // display none
            left 5%
            top 70%
            transform: translate(-50%, -50%)

        #danger-image2
            // display none
            left 20%
            top 30%
            transform: translate(-50%, -50%)

        #danger-image3
            // display none
            left 35%
            top 50%
            transform: translate(-50%, -50%)

    #danger-text-block
        padding 0
        max-width 90%
        margin auto

        #danger-heading
            margin-bottom 20px
            font-size 25px
            line-height 30px

        #danger-sub-heading
            font-size: 20px
            line-height: 23px
            max-width 100%
            margin-left 0
