section#hero-section
    .content-frame
        #hero-grid
            #hero-left
                h1#hero-title <span>Find your secure</span><br>Cyber Protect<br> <span>by Assecura</span> 
                //- button#contact-button.click-button Contact 
                a#protectnow-button.click-button(href="/protectnow.html") Protect Now 
                p#hero-text Die Unterstützung bei der Vorbereitung auf <br>unsichere Zeiten <b>steht im Mittelpunkt unserer Arbeit</b>
            #hero-right
                #hero-logo: svg: use(href="#svg-assecura-logo")
    //- #hero-bottom-decoration