section#electronicsprotect-section.fullscreen-frame
    #electronicsprotect-text-block 
        h1 <b>Electronics</b> Protect
        p Der Ausfall elektronischer Geräte kann in vielen Unternehmen die Arbeitsprozesse lahmlegen.<br>Die Elektronikversicherung übernimmt die Kosten der Geräte und Anlagen nach einem Schadenfall, um diese zu reparieren bzw. wiederzubeschaffen. Bedienungsfehler, Ungeschicklichkeit und Fahrläßigkeit. Böswilligkeit, Sabotage, Einbruchdiebstahl, Diebstahl, Beraubung, Vandalismus, sowie Schaden aufgrund von Wasser, Feuchtigkeit und Flüßigkeiten aller Art können versichert werden.
        p Die Elektronikversicherung ermöglicht finanzielle Sicherheit für Unternehmen.<br>Unser Fokus liegt darauf, dass du dich auf dein Geschäft konzentrieren kannst, ohne einen Gedanken über mögliche Schäden an deinen elektronischen Geräten zu verlieren.
        button#electronicsprotect-deepdive-button.click-button Deep Dive
    #electronicsprotect-images-block 
        img#electronicsprotect-image1(src="img/small-maximalfocus-VT4rx775FT4-unsplash.webp" alt="Futuristic Decoration Image.")
        img#electronicsprotect-image2(src="img/small-julian-hochgesang-7SV4cz3UFEI-unsplash.webp" alt="Futuristic Decoration Image.")
        img#electronicsprotect-image3(src="img/small-fly-d-Zm-p8-gAZB8-unsplash.webp" alt="Futuristic Decoration Image.")
        img#electronicsprotect-image4(src="img/small-fly-d-Fj32uYD9tOU-unsplash.webp" alt="Futuristic Decoration Image.")
