/*==========================================================
 Cyber Protect Section
==========================================================*/
#electronicsprotect-section
    background-color: cd-theme-orange

    .fullscreen-frame
        min-height: 100vh
        min-height: 100lvh
        height auto

#electronicsprotect-text-block
    position relative
    z-index 1
    color white
    padding 300px 80px 220px 80px

    h1
        margin-left: 480px
        margin-bottom 120px
    p
        margin-left: 480px
        line-height: 20px
        margin-bottom 20px
    button
        position absolute
        @extends .dropshadow
        display block
        border-radius: 20px
        color cd-theme-orange
        background-color #fff
        height 40px
        width 300px
        bottom 80px
        right 80px

#electronicsprotect-images-block
    position absolute
    width 50%
    height 100%
    top 0
    left 0
    // border solid 2px black
    // box-sizing: border-box
    z-index: 0

    img
        @extends .dropshadow
        position absolute
        border-radius 70px
        overflow: hidden
        object-fit: cover
        background-color white

#electronicsprotect-image1
    width 140px
    height 220px
    left 60px
    bottom 300px
    z-index 0

#electronicsprotect-image2
    width 140px
    height 220px
    left 140px
    bottom 200px
    z-index 1

#electronicsprotect-image3
    width 140px
    height 220px
    left 240px
    bottom 300px
    z-index 2

#electronicsprotect-image4
    width 140px
    height 220px
    left 320px
    bottom 200px
    z-index 3
