#frame3
    p#content-top-right Eine Cyber-Versicherung sollte gerade in der heutigen Zeit ein fester Bestandteil des Versicherungsportfolios eines Unternehmens sein. Angefangen bei mittelständischen, wie auch bei Großunternehmen und Finanzdienstleistern.
    p#content-bottom-left Im Ernstfall unterstützt dich ein Experten-Netzwerk der Versicherung bei der Bewältigung von Cyber-Vorfällen und unterstützt dabei, finanzelle Schäden abzuwenden oder zu mindern. Das umfasst die Forensik, Datenwiederherstellung, Krisenberatung in Verbindung mit Betriebsunterbrechung und Schadensersatzansprüche. 
