#frame1
    .content-width
        #hero-grid 
            h1#hero-title Find your secure<br><span>cyber protect</span><br> by Assecura 
            #hero-logo: svg: use(href="#svg-assecura-logo")
            p#hero-text Die Unterstützung bei der Vorbereitung auf unsichere Zeiten <b>steht im Mittelpunkt unserer Arbeit</b>
            button#contact-button.click-button Kontakt aufnehmen