/*==========================================================
 Outro Section
==========================================================*/
#outro-section
    background-color cd-theme-darkred


#decoration-application 
    height 100lvh
    width 100%
#decoration-protection 
    height 100lvh
    width 100%
#decoration-assecura
    height 100lvh
    width 100%

#outro-calltoaction-frame
    @extends .full-height
    width 50%
    background-color cd-theme-orange
    position fixed
    top 0
    right 0
    transform translateX(102%)
    transition: transform 0.3s
    z-index 80

#outro-calltoaction-frame.here
    transform translateX(0)


