section#intro-danger-frame
    .content-frame
        #intro-final-text-block
            h1#intro-final-heading Bei zunehmender <b>Digitalisierung</b> und Vernetzung<br> steigt die <b>Gefahr</b> von Cyber-Attacken
            h2#intro-final-sub-heading Die Schadensursachen sind so vielfältig wie<br>die Anzahl der täglich gemeldeten Exploits.

            p Cyber-Attacken treffen Unternehmen unabhängig von deren Unternehmensgröße.
        #intro-final-images-block
            img#intro-final-image1(src="img/small-samuel-regan-asante-9gPGDVONcuQ-unsplash.webp" alt="Futuristic Decoration Image.")
            img#intro-final-image2(src="img/small-donny-jiang-oeZrm_Ea8v4-unsplash.webp" alt="Futuristic Decoration Image.")
            img#intro-final-image3(src="img/logo.png" alt="Futuristic Decoration Image.")