/*==========================================================
 Danger Section
==========================================================*/
#danger-section
    padding-top 200px
    // padding-bottom 80px
    .content-frame
        position relative
        height auto

#danger-text-block
    position relative
    z-index 1
    padding 300px 80px 80px 80px
    h1
        margin-bottom 20px
    h2
        margin-bottom 16px
        max-width 650px
    span
    b
        color cd-flash

#danger-images-block
    position absolute
    transform-style: preserve-3d
    -webkit-perspective: 10px;
    perspective: 10px
    -webkit-perspective-origin-x: 50%;
    perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    perspective-origin-y: 50%;
    width 50%
    height 100%
    top 0
    right 0
    // border solid 2px black
    // box-sizing: border-box
    z-index: 0

    img
        @extends .light-dropshadow
        position absolute
        border-radius 60px
        overflow: hidden
        object-fit: cover
        background-color white
        width 260px
        height 360px

#danger-image1
    left 80px
    bottom 220px

#danger-image2
    left 220px
    bottom 40px

#danger-image3
    left 380px
    bottom 220px