section#dataprotect-section
    .content-frame
        #dataprotect-big-container
            #dataprotect-text-block
                h1 <b>Data</b> Protect
                h2 Schütze deine wertvollen Daten und Informationen vor potentiellen Bedrohungen!
                button#dataprotect-deepdive-button.click-button Deep Dive

            #dataprotect-decoration
                #dataprotect-decoration-white
                #dataprotect-decoration-red
                img#dataprotect-decorationimage(src="img/small-fabio-ballasina-wEL2zPX3jDg-unsplash.webp")

            //- #dataprotect-big-container
            //-     h2 Technical Defects
            //-     .data-guard
            //-         .outer-frame
            //-         //- .img-placeholder
            //-         img#data-guard1-avatar(src="" alt="Futuristic Avatar Image.")
            //-         .data-guard-text
            //-             p  Wenn die Hardware, auf der die Daten gespeichert sind, defekt ist, können die Daten verloren gehen oder beschädigt werden. Beispiele dafür sind Festplattenausfälle, Defekte von Speicherkarten oder USB-Sticks.
            //-     h2 Theft Protect
            //-     .data-guard
            //-         .outer-frame
            //-         //- .img-placeholder
            //-         img#data-guard1-avatar(src="img/logo.png" alt="Futuristic Avatar Image.")
            //-         .data-guard-text
            //-             p Wenn ein Gerät gestohlen wird, gehen auch die darauf gespeicherten Daten verloren. Hier kann eine Versicherung helden, die Kosten für die Wiederherstellung oder die Ersatzbeschaffung zu tragen.
            //-     h2 Human Cause
            //-     .data-guard
            //-         .outer-frame
            //-         //- .img-placeholder
            //-         img#data-guard1-avatar(src="img/logo.png" alt="Futuristic Avatar Image.")
            //-         .data-guard-text
            //-             p Fehlbedienung oder versehentliches Löschen von Dateien können ebenfalls zu einem Datenverlust führen.
