/*==========================================================
 Cyber Protect Section
==========================================================*/
#dataprotect-section
    background-color: cd-theme-orange
    padding 240px 0 200px 0
    color white
    // .content-frame
    //     min-height: 100vh
    //     min-height: 100lvh
    //     height auto

    #dataprotect-big-container
        @extends .light-dropshadow
        width 100%
        height 640px
        border-radius: 320px
        background-color cd-card-background
        position relative

#dataprotect-text-block
    position absolute
    width fit-content
    bottom 140px
    right 200px
    // left 50%
    // transform translateX(-50%)
    z-index 1

    h1
        margin-bottom 40px
    h2
        font-size: 24px
        margin-bottom 60px
        white-space: nowrap

    button
        @extends .light-dropshadow
        display block
        border-radius: 20px
        color cd-theme-orange
        background-color #fff
        height 40px
        width 300px
        margin-left: auto

#dataprotect-decoration
    position absolute
    top 50%
    left 100px
    height: 260px
    transform translateY(-50%)
    z-index 0

    #dataprotect-decoration-white
        position absolute
        top 0
        left 0
        background-color white
        height 260px
        width 260px
        border-radius: 50%
        // z-index: 0
    #dataprotect-decoration-red
        position absolute
        top 0
        left 30px
        background-color cd-theme-darkred
        height 260px
        width 260px
        border-radius: 50%
    #dataprotect-decorationimage
        position absolute
        top 0
        left 60px
        height 260px
        width 260px
        border-radius: 50%




// #dataprotect-text-block
    // position relative
    // z-index 1
    // color white
    // padding 300px 80px 220px 80px

    
    // .data-guard
    //     position: relative
    //     margin-left 140px
    //     margin-right 180px
    //     height 80px
    //     border-radius: 40px
    //     @extends .light-dropshadow
    //     .outer-frame
    //         position: absolute
    //         top 0
    //         left 0
    //         height 80px
    //         width: 100%
    //         border solid 2px white
    //         box-sizing: border-box
    //         border-radius: 40px

    //     .img-placeholder
    //     img
    //         position absolute
    //         top 0
    //         left 0
    //         height 80px
    //         width 80px
    //         border solid 2px white
    //         box-sizing: border-box
    //         border-radius: 40px
    // .data-guard-text
    //     display flex
    //     align-items: center
    //     margin-left 80px
    //     padding 0 20px
    //     height 100%
    //     p
    //         line-height: 20px

