/*==========================================================
 General Content Styles
==========================================================*/

/*==========================================================
 Specific Content Styles
==========================================================*/
#contact-frame
    position: relative
    // padding-top 300px
    padding-top 42vh
    min-height 100vh
    min-height 100lvh
    height auto
    box-sizing: border-box
    background-color: cd-theme-orange

#background-map
    width 100%
    height 520px
    background-image: url("img/background-map.png")
    background-size: cover
    background-position: center


#contact-container
    @extends .dropshadow
    width: (max-content-width - 160px)
    position relative
    top -200px
    left 50%
    transform translateX(-50%)
    background-color cd-theme-orange
    display flex

    h3
        color white
        margin-bottom 12px

    form
        @extends .dropshadow
        accent-color: cd-foreground
        width 50%
        padding 40px 80px
        box-sizing: border-box

        h3
            margin-bottom 60px

        .input-cell
            margin-bottom 40px
            // label
            //     display block
            //     margin-bottom 16px

            input 
                @extends .dropshadow
                background-color white
                display block
                width 100%
                height 40px
                border-radius: 20px
                line-height 40px
                text-align: left
                border: none
                padding 0 20px
                box-sizing: border-box

            textarea 
                @extends .dropshadow
                background-color white
                display block
                width 100%
                border-radius: 20px
                border: none
                padding 10px 20px
                box-sizing: border-box

        .button-cell
            button
                display block
                margin-left auto
                background-color white
                color cd-theme-orange

    #contact-details
        width 50%
        box-sizing: border-box
        padding 40px 80px

        h2
            margin-bottom 20px

        p
            margin-bottom 30px
            color white