/*==========================================================
 Firewall 3 Style
==========================================================*/
#firewall3-frame
    max-width max-content-width

#firewall3-text-block 
    position relative
    z-index 1
    padding 0 80px 80px 80px
    margin-left: 480px

    h2
        font-size: 36px
        margin-bottom 40px
        color white

    a
        margin-top 80px
        margin-left 300px

    .activatable-container
        padding-left 160px
        
        p
            margin-left: 40px
            margin-bottom 60px
            // height 160px
            line-height: 160%
            color black
            opacity 0
            z-index: -1
            transition: opacity 0.3s
        
        button
            @extends .light-dropshadow
            position: absolute
            left 80px
            // top 50%
            // transform translateY(-50%)
            // display inline-block
            color cd-theme-orange
            background-color white
            box-shadow 2px 2px 5px 0 #0002, inset 2px 2px 5px 0 #0002
            height 36px
            width 60px
            border-radius: 20px // 36(height) + 2*2(border) -> 40px total height
            cursor pointer

        button:after
            box-shadow inset 2px 2px 5px 0 #0002
            content ""
            height 36px
            width 36px
            border-radius: 50%
            box-sizing: border-box
            background-color cd-button-red
            border solid 1px white
            box-sizing: border-box
            position absolute
            top 0
            left 0
            z-index: 2
            transition: all 0.3s cubic-bezier(0, 0.8, 0.8, 1)

    .active
        // h2
        //     margin-bottom 20px
        p
            opacity: 1
            z-index: 1


        button:after
            background-color cd-button-green
            transform translateX(24px)


#firewall3-images-block
    position absolute
    width 50%
    height 100%
    top 0
    left 0
    // border solid 2px black
    // box-sizing: border-box
    z-index: 0

    img
        @extends .light-dropshadow
        position absolute
        border-radius 70px
        overflow: hidden
        object-fit: cover
        background-color white

#firewall3-image1
    width 140px
    height 220px
    left 80px
    // bottom 240px
    bottom 320px
    z-index 0

#firewall3-image2
    width 140px
    height 220px
    left 140px
    // bottom 140px
    bottom 320px
    z-index 1

#firewall3-image3
    width 140px
    height 220px
    left 240px
    // bottom 240px
    bottom 320px
    z-index 2

#firewall3-image4
    width 140px
    height 220px
    left 320px
    // bottom 140px
    bottom 320px
    z-index 3
