#firewall2-frame.content-frame
    #firewall2-text-block
        .activatable-container
            button 
            h2 Cyber Haftpflicht 
            p Haftpflichtschäden durch die Veröffentlichung von Daten Dritter des Versicherten.<br> 
                | Haftpflichtschäden durch Verlust, Veränderung oder Blockade elektronischer Daten.<br>
                | Haftpflichtschäden durch Verstöße gegen die Cyber-Security.<br>
                | Haftpflichtschäden durch Verstöße gegen den Datenschutz.<br>
                | Haftpflichtschäden durch Verstöße gegen Geheimhaltungspflichten/Vertragsstrafen.
        .activatable-container
            button 
            h2 Cyber Erpressung
            p Erpressung mittels Geld-oder Warenforderungen durch Dritte bei bereits erfolgter Beschädigung.<br> 
                | Ersatz von notwendigen Kosten für Krisenberatung zur Schadenabwehr.<br> 
                | Ersatz von Belohnungsgelder.

        a#firewall2-call-to-action.click-button(href="/protectnow.html") Protect Now

    #firewall2-decoration
        #firewall2-decoration-pink
        #firewall2-decoration-white
        #firewall2-decoration-red
        img#firewall2-decorationimage(src="img/small-fabio-ballasina-wEL2zPX3jDg-unsplash.webp")
