#firewall3-frame.content-frame
    #firewall3-text-block 
        #firewall3-containers
            .activatable-container
                button 
                h2 Cyber Prävention 
                p Online-Training für Cybersicherheit und Datenschutz.<br>
                    | Reportingbereich mit Online-Training-Statistik.<br>
                    | Richtiges Verhalten bei Cyberangriffen - Laufende Phishing-Tests<br>
                    | Passwort Generator E-Mail Scanner
            .activatable-container
                button 
                h2 Vertrauensschäden
                p Versichert sind Vermögensdelikte wie Betrug, Urkundenfälschung &-unterdrückung, Diebstahl von Firmengeldern, Kundendaten, Waren oder Dienstleistungen.<br>Versichert sind des Weiteren an IT-Systemem und Programmen.

        a#firewall3-call-to-action.click-button(href="/protectnow.html") Protect Now

    #firewall3-images-block 
        img#firewall3-image1(src="img/small-maximalfocus-VT4rx775FT4-unsplash.webp" alt="Futuristic Decoration Image.")
        img#firewall3-image2(src="img/small-julian-hochgesang-7SV4cz3UFEI-unsplash.webp" alt="Futuristic Decoration Image.")
        img#firewall3-image3(src="img/small-fly-d-Zm-p8-gAZB8-unsplash.webp" alt="Futuristic Decoration Image.")
        img#firewall3-image4(src="img/small-fly-d-Fj32uYD9tOU-unsplash.webp" alt="Futuristic Decoration Image.")
