#firewall1-frame.content-frame
    #firewall1-text-block 
        h1 Cyber Protect - Unsere <b>Firewall</b>
        #firewall1-containers
            .activatable-container
                h2 Cyber Betriebsunterbrechung 
                    button 
                p Betriebsunterbrechung bei der Nutzung von Cloud-und Hostingdiensten.<br> Betriebsunterbrechung durch Verfügung einer Datenschutzbehörde.<br> Betriebsunterbrechung infolge technischer Probleme.
            .activatable-container
                h2 Cyber Daten Eigenschaden
                    button
                p Dateneigenschaden sind Beschädigung, Zerstörung, Veränderung, Blockierung, Löschung oder Missbrauch.<br> Darunter fallen IT-Systeme des Versicherten sowie Programme und elektronische Daten.<br> Betriebssysteme, Datenbanken und Verwaltungssoftware.

        a#firewall1-call-to-action.click-button(href="/protectnow.html") Protect Now

    #firewall1-images-block 
        img#firewall1-image1(src="img/small-romuald-charpentier-lywMQSgALa0-unsplash.webp" alt="Futuristic Decoration Image.")
        img#firewall1-image2(src="img/small-tim-kabel-FCrYdP8gohg-unsplash.webp" alt="Futuristic Decoration Image.")