#firewall1-frame.content-frame
    #firewall1-text-block 
        h1 Cyber Protect - Unsere <b>Firewall</b>
        #firewall1-containers
            .activatable-container
                h2 Cyber Betriebsunterbrechung 
                    button 
                p Versichert werden kann gegen eine Betriebsunterbrechung bei Nutzung von Cloud und Hosting Diensten, durch eine Verfügung einer Datenschutzbehörden oder durch technische Probleme.
            .activatable-container
                h2 Cyber Daten Eigenschaden
                    button
                p Zu Daten Eigenschäden zählen Beschädigungen, Zerstörung. Löschung oder Missbrauch von IT-Systemen des Versicherten sowie die Programme und elektronische Daten wie Datenbanken und andere Customer Relationship Management Tools.

        a#firewall1-call-to-action.click-button(href="/protectnow.html") Protect Now

    #firewall1-images-block 
        img#firewall1-image1(src="img/small-romuald-charpentier-lywMQSgALa0-unsplash.webp" alt="Futuristic Decoration Image.")
        img#firewall1-image2(src="img/small-tim-kabel-FCrYdP8gohg-unsplash.webp" alt="Futuristic Decoration Image.")