#firewall2-frame.content-frame
    #firewall2-text-block
        .activatable-container
            button 
            h2 Cyber Haftpflicht 
            p Zu den Haftpflichtschäden zählen zum Beispiel die Veröffentlichung von Daten Dritter, Veränderungen oder Verschlüsselungen von Datensätzen, Verstöße gegen die Datenschutz Auflagen oder auch Verstöße unterschiedlichster Geheimhaltungspflichten und daraus resultierender Vertragsstrafen.
        .activatable-container
            button 
            h2 Cyber Erpressung
            p Eine Erpressung muss mittels Geld- oder Warenforderungen durch Dritte bei einer bereits erfolgten Angriffs gefordert werden. Man erhält Unterstützung bei notwendigen Kosten und Krisenberatungen um Schäden abzuwehren, sowie den Ersatz von Belohnungsgelder.

        a#firewall2-call-to-action.click-button(href="/protectnow.html") Protect Now

    #firewall2-decoration
        #firewall2-decoration-pink
        #firewall2-decoration-white
        #firewall2-decoration-red
        img#firewall2-decorationimage(src="img/small-fabio-ballasina-wEL2zPX3jDg-unsplash.webp")
