#firewall3-frame.content-frame
    #firewall3-text-block 
        #firewall3-containers
            .activatable-container
                button 
                h2 Cyber Prävention 
                p Bei der Cyber Prävention werden online Trainings für Cyber Security und Datenschutz Rechtliche Themen für Mitarbeiter angeboten sowie das richtige Verhalten bei einem Cyber Angriff sowie unterschiedlichste Hilfestellungen um die Datensicherheit des Kunden zu gewähren.
            .activatable-container
                button 
                h2 Vertrauensschäden
                p Vertrauensschäden wie Vermögensdelikte im Bereich Betrug, Dokumentenfälschung, Urkundenunterdrückung können versichert werden. Darunter fällt auch der Diebstahl von Firmengelder, Kundendaten sowie Wahren oder Dienstleistungen.

        a#firewall3-call-to-action.click-button(href="/protectnow.html") Protect Now

    #firewall3-images-block 
        img#firewall3-image1(src="img/small-maximalfocus-VT4rx775FT4-unsplash.webp" alt="Futuristic Decoration Image.")
        img#firewall3-image2(src="img/small-julian-hochgesang-7SV4cz3UFEI-unsplash.webp" alt="Futuristic Decoration Image.")
        img#firewall3-image3(src="img/small-fly-d-Zm-p8-gAZB8-unsplash.webp" alt="Futuristic Decoration Image.")
        img#firewall3-image4(src="img/small-fly-d-Fj32uYD9tOU-unsplash.webp" alt="Futuristic Decoration Image.")
