section#cyberprotect-section.fullscreen-frame
    #cyberprotect-text-block 
        h1 Cyber Protect - Unsere drei <b>Firewalls</b>
        #cyberprotect-firewalls-container
            h2 Cyber Betriebsunterbrechung 
            p Deckung von Verlusten, die einem Unternehmen entstehen, wenn es aufgrund eines Cyberangriffs vorübergehend stillgelegt werden muss, oder wenn es den Betrieb aufgrund von Cyberkriminalität oder anderen Cyberbedrohungen einstellen muss.
            h2 Cyber Haftpflicht
            p Abwehr von ungerechtfertigten Schadenersatzansprüchen und Entschädigungen bei gerechtfertigten Ansprüchen in Folge eines dechungsauslösenden Ereignisses.
            h2 Cyber Erpressung
            p Erstattung der Kosten für forensische Untersuchungen, Abwehrkosten wegen angedrohter Sicherheitsbeeinträchtigungen bis hin zur Erstattung gezahlter Erpressungsgelder.
        button#cyberprotect-deepdive-button.click-button Deep Dive
    #cyberprotect-images-block 
        img#cyberprotect-image1(src="" alt="Futuristic Decoration Image.")
        img#cyberprotect-image2(src="" alt="Futuristic Decoration Image.")
