/*==========================================================
 Cyber Protect Section
==========================================================*/
#cyberprotect-section
    background-color: cd-theme-orange

    .fullscreen-frame
        min-height: 100vh
        min-height: 100lvh
        height auto

#cyberprotect-text-block
    position relative
    z-index 1
    color white
    padding 300px 80px 220px 80px

    h1
        text-align: center
        margin-bottom 100px
    h2
        @extends h1
        margin-left: 540px
        margin-bottom 20px
        margin-top 40px
    p
        margin-left: 580px
        line-height: 20px
    button
        position absolute
        @extends .dropshadow
        display block
        border-radius: 20px
        color cd-theme-orange
        background-color #fff
        height 40px
        width 300px
        bottom 80px
        right 80px

#cyberprotect-images-block
    position absolute
    width 50%
    height 100%
    top 0
    left 0
    // border solid 2px black
    // box-sizing: border-box
    z-index: 0

    img
        @extends .dropshadow
        position absolute
        border-radius 60px
        overflow: hidden
        object-fit: cover
        background-color white

#cyberprotect-image1
    width 260px
    height 360px
    left 80px
    bottom 230px
    z-index 0

#cyberprotect-image2
    width 360px
    height 260px
    left 160px
    bottom 90px
    z-index 1

