/*==========================================================
 Specific Content Styles
==========================================================*/
#about-content
    position: relative
    padding-top 42vh
    padding-bottom 300px
    background-color: cd-theme-orange
    // padding-top 300px    
    .content-frame
        padding-bottom 200px

    .about-container
        width: max-content-width
        padding 0 80px
        box-sizing: border-box
        margin auto
        display flex
    h2
        color white
        width max-content-width
        margin auto
        padding 0 80px
        box-sizing: border-box
        margin-bottom 40px
    p
        font-size: 16px
        line-height: 160%
        margin-bottom 30px
    .about-image-container
        width 180px
        flex-shrink: 0
    .about-text-container 
        flex-shrink: 1

    img
        @extends .dropshadow
        border-radius 50px
        box-sizing: border-box
        background-color black
        width 150px
        height 180px
        // margin-left 15px
  