/*==========================================================
 General Content Styles
==========================================================*/

.content-frame
    padding-top 42vh
    padding-bottom 300px
    min-height 100vh
    min-height 100lvh
    height auto
    box-sizing: border-box
    background-color: cd-theme-orange

/*==========================================================
 Specific Content Styles
==========================================================*/
#about-content
    position: relative
    // padding-top 300px    
    .about-container
        width: max-content-width
        padding 0 80px
        box-sizing: border-box
        margin auto
        display flex
    h2
        color white
        font-size: 24px
        font-family: NotoSans Bold
        margin-bottom 30px

    p
        // font-size: 22px
        // font-family: NotoSans Regular
        font-size: 16px
        line-height: 160%
        margin-bottom 30px
    img
        border-radius 50px
        border solid white 4px
        box-sizing: border-box
        background-color black
        width 100px
        height 130px
        margin-right 40px

  