//- main content structure
#about-content
    #peter-frame.content-frame
        .about-container 
            .about-image-container
                img(src="img/peter-avatar.jpg")
            .about-text-container 
                h2 Gründer der Assecura - Peter
                p Seit 1991 ist die Assecura ein zuverlässiger Partner für Versicherungslösungen, und der Gründer und Geschäftsführer, Akad.VKfm Peter Schernthaner, steht an der Spitze dieses renommierten Unternehmens. Mit langjähriger Erfahrung in der Versicherungsbranche begann seine Karriere bereits 1984 bei der Grazer Wechselseitigen Versicherungs AG, wo er in der Fachabteilung für Sachversicherungen tätig war. Durch sein Fachwissen entwickelte er sich schnell zum Experten und wechselte anschließend in die aufstrebende Welt der Maklerbetreuung. Peter Schernthaner nutzte die einzigartige Gelegenheit,den ersten Maklerbetreuungsbereich bei der GRAWE aufzubauen, und erweiterte so sein umfassendes Fachwissen. Gestärkt durch diesen Erfog wagte er den Schritt in die Selbstständigkeit und gründete die Assecura GmbH. Seit dem unterstützt er mit Leidenschaft und Expertise Unternehmen aus der Immobilienbranche, produzierende Betriebe, Handelsunternehmen, Freiberufler und Privatpersonen bei der Absicherung gegen potenzielle Gefahren. Im Jahr 2005 beschloss Peter Schernthaner, sein Wissen und seine Fähigkeiten im Bereich Versicherungsfachwissen weiter zu vertiefen und absolvierte ein umfangreiches Studium ander Karl-Franzens-Universität. Dabei legte er besonderen Wert auf die  rechtlichen und fachlichen Aspekte der Versicherungsbranche, wie das Versicherungsvertragsgesetz(VersVG), das Allgemeine Bürgerliche Gesetzbuch(ABGB), Aufsichtsrecht, Unternehmensrecht und Gewerberecht. Dieses fundierte Wissen ermöglicht der Assecura, maßgeschneiderte Versicherungslösungen zu entwickeln, die den individuellen Bedürfnissen seiner Kunden gerecht werden. Seit 2008 teilt Peter Schernthaner sein Know-how als Vortragender am Wirtschaftsförderungsinstitut Steiermark und bildet angehende Versicherungsexperten im VersVG und Sachversicherungen weiter. Sein Engagement gilt dabei vor allem denjenigen, die den Traum haben, in der Versicherungswirtschaft selbstständig tätig zu werden. Seine Erfahrung und Expertise ermöglichte es ihm 2016 aufgrund seines gesammelten Know-hows in den Vorstand der EFM AG berufen zu werden. Dort ist er in der Leitung des Fachbereichs der EFM sowie der Aus-und Weiterbildung und des Rechtsservices tätig. Im Jahr 2023 erwarb Peter Schernthaner zusätzlich die Qualikation als Prüfer bei der Bildungsakademie für sie Österreichische Versicherungswirtschaft.
                p „Die Assecura bietet Ihnen nicht nur eine breite Palette an Versicherungslösungen, sondern auch das Know-how von Experten im Risikomanagement. Unser Ziel ist es, Unternehmen, Immobilien und persönliche Interessen bestmöglich abzusichern.“

    #florian-frame.content-frame
        .about-container 
            .about-image-container
                img(src="img/florian-avatar.jpg")
            .about-text-container 
                h2 Digital Native - Florian
                p Mein beruflicher Werdegang begann ebenfalls bei der Grazer Wechselseitigen Versicherung AG,wo ich als Außendienstmitarbeiter in beratender Funktion tätig war. Im Laufe dieser Zeit entwickelte sich mein berufliches Interesse jedoch in eine andere Richtung und ich begann mich zunehmend mit der digitalen Welt zu beschäftigen. Ich nutzte jede freie Minute mein Wissen zu erweitern. Nach mehreren Zwischenstopps als Arbeitnehmer in den verschiedensten Branchen und Tätigkeitsbereichen wendete ich mich dann im Jahr 2017 den digitalen Werten zu. Dieses Themengebiet fesselte mich so sehr, dass ich nach langjähriger Studienzeit zu dem Schluss kam, dass digitale Vermögenswerte nicht nur die Transformation unserer Gesellschaft sondern auch die Unternehmenslandschaft nachhaltig verändern könnte. Meine Überzeugung bewegt mich dazu gemeinsam mit der Assecura diese digitale Welt zu unterstützen um Risiken für Unternehmen die an dem Aufbau ganzer Netzwerke arbeiten zu unterstützen und potenzielle Bedrohungen frühzeitig zu erkennen um sie dann vor finanziellen Schäden bestmöglich zu schützen.<br>Unser gemeinsames Ziel ist es innovative Lösungen zu entwickeln, die den Bedürfnissen der Kunden gerecht werden um kommende Herausforderungen des digitalen Zeitalters erfolgreich zu meistern. Gemeinsam mit unserem Team möchten wir dafür sorgen, dass Unternehmen optimal unterstützt werden um die Chancen die diese digitale Welt bietet optimal zu nutzen.

    #karsta-frame.content-frame
        .about-container 
            .about-image-container
                img(src="img/peter-avatar.jpg")
            .about-text-container 
                h2 Backoffice - Karsta
                p Karsta begann ihre Karriere in der Versicherungswirtschaft im Jahr 1995. Nach dem Abschluss ihres Studiums der Betriebswirtschaftslehre im Jahr 1979 trat sie in die AXA Agentur in Berlin ein. Dort war sie hauptsächlich im Backoffice tätig und widmete sich der Schaden-und Vertragsbearbeitung so wie der Polizzierung.<br> Im Jahr 2013 wechselte Karsta nach Österreich und fand Beschäftigung bei Assecura. Dort arbeitet sie weiterhin im Backoffice und ist für die Schaden-und Vertragsbearbeitung verantwortlich. Durch ihre fundierte Erfahrung und ihr Fachwissen in der Versicherungswirtschaft trägt Karsta dazu bei, den reibungslosen Ablauf der Prozesse sicherzustellen und einen qualitativ hochwertigen Kundenservice zu gewährleisten.
                p Mit ihrer jahrelangen Erfahrung in der Versicherungswirtschaft verfügt Karsta über umfassende Kenntnisse in verschiedenen Bereichen des Versicherungsmanagements. Ihr Engagement und ihre  Professionalität haben sie zu einem geschätzten Mitglied des Teamsgemacht.


