/*==========================================================
 Specific Content Styles
==========================================================*/
#about-content
    position: relative
    padding-top 42vh
    padding-bottom 300px
    background-color: cd-theme-orange
    // padding-top 300px    
    .content-frame
        padding-bottom 200px

    .about-container
        width: max-content-width
        padding 0 80px
        box-sizing: border-box
        margin auto
        display flex
    h2
        font-size 70px
        color white
        width max-content-width
        margin auto
        padding 0 80px
        box-sizing: border-box
        margin-bottom 80px
    p
        font-size: 16px
        line-height: 160%
        margin-bottom 30px
    .about-image-container
        width 320px
        flex-shrink: 0
    .about-text-container 
        flex-shrink: 1

    img
        @extends .dropshadow
        border-radius 100px
        box-sizing: border-box
        background-color black
        object-fit: cover
        object-position: top;
        width 200px
        height 240px
        margin-left 60px
  

@media mobilescreen
    #about-content
        // position: relative
        // padding-top 42vh
        // padding-bottom 300px
        // background-color: cd-theme-orange
        // // padding-top 300px    
        // .content-frame
        //     padding-bottom 200px

        .about-container
            width: 90%
            padding 0
            margin-left 5%
            // display flex
            flex-direction: column
            align-items: center
        h2
            font-size 30px
            width 90%
            margin-left 5%
            padding 0
            margin-bottom 30px
        p
            font-size: 16px
            line-height: 160%
            margin-top 30px

        .about-image-container
            width 100%
            max-width 320px

        .about-text-container 
            flex-shrink: 0

        img
            display block
            margin-left auto
            margin-right auto
    