//- header structure
#header
    a#home-button.click-button(href="/"): svg: use(href="#svg-assecura-logo")
    nav#navigation-bar 
        #selected-chapter-background
        a#nav-link1(href="#data-protect") Data Protect
        a#nav-link2(href="#cyber-protect") Cyber Protect
        a#nav-link3(href="#cyber-protect") Electronics Protect
        a#nav-link4(href="#cyber-war") CYBER War
        a#nav-link5(href="#uber-uns") Über Uns