//- header structure
#header
    a#home-button.click-button(href="/"): svg: use(href="#svg-assecura-logo")
    nav#navigation-bar
        #selected-chapter-background
        a#nav-cyberprotect(href="#cyberprotect-section") Cyber Protect
        a#nav-dataprotect(href="#dataprotect-section") Data Protect
        a#nav-electronicsprotect(href="#electronicsprotect-section") Electronics Protect
        a#nav-cyberwar(href="#cyber-war") Cyber War
        a#nav-about(href="#uber-uns") Über