//- header structure
#header
    a#home-button.click-button(href="/#top"): svg: use(href="#svg-assecura-logo")
    nav#navigation-bar
        a#nav-cyberprotect(href="/cyberprotect.html") Cyber Protect
        a#nav-deepdive(href="/deepdive.html") Deep Dive
        a#nav-protectnow(href="/protectnow.html") Protect Now
        a#nav-contact(href="/kontakt.html") Kontakt
        a#nav-about(href="/about.html") Über