//- header structure
#header
    a#home-button.click-button(href="/#top"): svg: use(href="#svg-assecura-logo")
    nav#navigation-bar
        //- a#nav-cyberprotect(href="/cyberprotect.html") Cyber Protect
        a#nav-protectnow(href="/protectnow.html") Protect Now
        a#nav-deepdive(href="/deepdive.html") Deep Dive
        a#nav-contact(href="/contact.html") Kontakt
        a#nav-about(href="/about.html") Über
    
    button#mobile-menu-button.click-button 
        svg#menu-icon: use(href="#svg-menu-icon")
        svg#cross-icon: use(href="#svg-cross-icon")

//- nav#mobile-menu
//-     a#nav-protectnow(href="/protectnow.html") Protect Now
//-     a#nav-deepdive(href="/deepdive.html") Deep Dive
//-     a#nav-contact(href="/contact.html") Kontakt
//-     a#nav-about(href="/about.html") Über
