// header styles
home-button-size = 80px

/*==========================================================*/
header
    // position: -webkit-sticky
    // position: sticky
    position fixed
    width 100%
    max-width: max-content-width
    margin: auto
    top: 0
    left 50%
    transition: transform 0.3s
    transform translateX(-50%)
    z-index 99


#header
    display: grid
    grid-template-columns: home-button-size auto
    padding 60px 80px 0 80px
    align-items: center
    justify-content: space-between
    color cd-theme-orange
    // transition: color 0.5s

#home-button
    align-self: end
    height home-button-size
    width home-button-size
    
#navigation-bar
    box-shadow 0 3px 6px #0004, inset 0 3px 6px #0004
    position relative
    display flex
    height 40px
    border solid 2px
    box-sizing: border-box
    border-radius 20px
    transition background-color 0.7s
    overflow: hidden
    a
        font-family: "Poppins Light"
        font-size 20px
        align-self: center
        padding 0 30px
        text-align: center
        transition: color 0.3s cubic-bezier(0,0.8,0.8,1) 


header.gone
    transform translate(-50%, -102%)

header.smaller
    transform translate(-50%, -40px)

header.inverted
    #header
        color #fff
    
    #navigation-bar
        a
            text-shadow: 1px 1px 2px #0008

header.no-navbar
    #navigation-bar
        opacity 0
        z-index -1

.current-page-nav
    color cd-theme-orange
    text-shadow: none !important    
    background-color white
    height 40px
    line-height: 40px
    border-radius: 20px