// header styles
home-button-size = 80px

/*==========================================================*/
header
    // position: -webkit-sticky
    // position: sticky
    position fixed
    width 100%
    max-width: max-content-width
    margin: auto
    top: 0
    left 50%
    transition: transform 0.3s
    transform translateX(-50%)
    z-index 99


#header
    display: grid
    grid-template-columns: home-button-size auto
    padding 80px 80px 0 80px
    align-items: center
    justify-content: space-between
    color cd-theme-orange
    // transition: color 0.5s

#home-button
    align-self: end
    height home-button-size
    width home-button-size
    
#navigation-bar
    @extends .light-dropshadow
    position relative
    display grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    height 40px
    border solid 2px
    box-sizing: border-box
    border-radius 20px
    transition background-color 0.7s
    a
        // text-shadow: 1px 1px 2px #0003
        align-self: center
        width: 160px
        text-align: center

#selected-chapter-background
    position absolute
    opacity 0
    z-index: -1
    width 160px
    border-radius: 20px
    height 40px


header.gone
    transform translate(-50%, -102%)

header.smaller
    transform translate(-50%, -60px)

header.inverted
    #header
        color #fff
    
    #navigation-bar
        a
            text-shadow: 1px 1px 2px #0008

header.no-navbar
    #navigation-bar
        opacity 0
        z-index -1