// globalstyles styles
/*==========================================================
 Fonts
==========================================================*/
@font-face
    font-family: 'NotoSans Regular'
    src: url('font/NotoSans-Regular.ttf')
    font-display: swap;

@font-face
    font-family: 'NotoSans Bold'
    src: url('font/NotoSans-Bold.ttf')
    font-display: swap;

@font-face
    font-family: 'NotoSans Light'
    src: url('font/NotoSans-Light.ttf')
    font-display: swap;

/*==========================================================
 Color Theme
==========================================================*/
cd-foreground = #000
cd-background = #fff
cd-flash = #fff //#00FFB1

cd-card-background = #F37840 //#FF6048
cd-theme-darkred = #B32818
cd-theme-orange = #FF9552 //#ff5733

cd-assecura-red = #a61e1e
cd-button-green = #01AA69
cd-button-red = #FF5935
/*==========================================================
 Global Variables
==========================================================*/
max-content-width = 1420px
inner-content-width = 840px
min-screen-height = 650px
// mobile-side-padding = 15px

/*==========================================================
 Global Classes
==========================================================*/
.dropshadow
    box-shadow 0px 3px 6px 0 #0002

.full-height
    height 100vh
    height 100lvh
    min-height min-screen-height


/*==========================================================
 Global Tag Styles
==========================================================*/
body
    width 100%
    height 100%
    overflow-x hidden
    overflow-y: auto
    background-color cd-background
    color cd-foreground
    font-family: 'NotoSans Light'
    // font-size: 16px
    // line-height: 18px
    font-size: 18px
    line-height: 21px

h1
h2
    font-size: 56px
    font-family: "NotoSans Light"
    line-height: 60px
    text-shadow: 0 3px 6px #0002

h3
    font-size: 32px
    font-family: "NotoSans Light"
    line-height: 40px

p
    font-size: 18px
    line-height: 21px


b
    font-family: "NotoSans Bold"

svg
    height inherit
    width inherit

button
    @extends .dropshadow
    font-size: 16px
    line-height 40px
    border-radius: 20px
    font-family: "NotoSans Regular"
    width 200px
    text-align: center
    cursor pointer

button:hover
    line-height 40px

input
label
textarea
    font-size 16px
    font-family: "NotoSans Light"