// globalstyles styles
/*==========================================================
Fonts
==========================================================*/
@font-face
    font-family: 'NotoSans Regular'
    src: url('font/NotoSans-Regular.ttf') format('ttf')
    // font-display: swap;

@font-face
    font-family: 'NotoSans Bold'
    src: url('font/NotoSans-Bold.ttf') format('ttf')
    // font-display: swap;

@font-face
    font-family: 'NotoSans Light'
    src: url('font/NotoSans-Light.otf') format('otf')
    // font-display: swap;

/*==========================================================
Color Theme
==========================================================*/
cd-assecura-red = #a61e1e
cd-theme-orange = #ff5733
cd-foreground = #000
cd-flash = #ff5733
cd-background = #fff

/*==========================================================
Global Variables
==========================================================*/
max-content-width = 1420px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-background
    transition background-color 0.7s
    color cd-foreground
    // font-family: Arial, Helvetica, sans-serif
    font-family: "NotoSans Regular"
    font-size: 16px
    width 100%
    overflow-x hidden
    overflow-y: auto
    height 100%

body.orange
    background-color cd-theme-orange

nav
    font-size: 25pt
h1
    font-size: 60pt
h2
    font-size: 15pt
p
    font-size: 12pt


svg
    height inherit
    width inherit

header
main
footer
    max-width: max-content-width
    margin: auto

