//- intro structure
section#intro-section
    #intro-decoration-frame.fullscreen-frame
        #medium-arrow: svg: use(href="#svg-arrow-down")
        #big-arrow: svg: use(href="#svg-arrow-down")

    #intro-text-frame.fullscreen-frame
        #intro-text-left
            #intro-text-left-content
                p Cyberangriffe gehören heutzutage zu den größten Bedrohungen für Unternehmen und Organisationen. Es ist daher von entscheidender Bedeutung, dass deine Systeme und Daten gegen solche Angriffe geschützt sind. Eine Cyberversicherung kann hierbei helfen, indem sie im Falle eines Cyberangriffs finanziellen Schutz bietet.
                p Eine Cyberversicherung bietet Schutz vor den finanziellen Folgen von Cyberangriffen wie, Datenverlust, Betriebsunterbrechnungen, Haftungsansprüche und Wiederherstellungskosten. Mit einer Cyberversicherung bist du in der Lage, schnell auf einen Cyberangriff zu reagieren und die notwendigen Maßnahmen zu ergreifen, um den Schaden zu begrenzen.

        #intro-text-right
            #intro-text-right-content
                p Zusätzlich zur finanziellen Absicherung bietet eine Cyberversicherung auch Unterstützung bei der Bewältigung von Cyberangriffen.<br>Im Ernstfall unterstützt dich ein Experten-Netzwerk der Versicherung bei der Bewältigung von Cyber-Vorfällen.
                p Eine Cyberversicherung ist daher nicht nur für große Unternehmen, sondern auch für keine und mittelständische Unternehmen von großer Bedeutung.
                p Insgesamt ist eine Cyberversicherung eine wichtige Investition, um Unternehmen gegen Risiken von Cyberangriffen abzusichern. Sie bietet finanzielle Unterstützung und Expertenberatung, um den Schaden zu minimieren und schnbell wieder handlungsfähig zu werden. 

    #intro-final-frame.fullscreen-frame
        #intro-final-text-block
            h1#intro-final-heading Bei zunehmender <b>Digitalisierung</b> und Vernetzung<br> steigt die <b>Gefahr</b> von Cyber-Attacken
            h2#intro-final-sub-heading Die Schadensursachen sind so vielfältig wie<br>die Anzahl der täglich gemeldeten Exploits.

            p Cyber-Attacken treffen Unternehmen unabhängig von deren Unternehmensgröße.
        #intro-final-images-block
            img#intro-final-image1(src="img/small-samuel-regan-asante-9gPGDVONcuQ-unsplash.webp" alt="Futuristic Decoration Image.")
            img#intro-final-image2(src="img/small-donny-jiang-oeZrm_Ea8v4-unsplash.webp" alt="Futuristic Decoration Image.")
            img#intro-final-image3(src="img/logo.png" alt="Futuristic Decoration Image.")