/*==========================================================
 Variables
==========================================================*/

/*==========================================================
 Main  Section
==========================================================*/
#main-section
    @extends .dropshadow
    background-color cd-theme-orange
    padding 0 60px
    border-radius 60px
    position: relative
    z-index 1

/*==========================================================
 Sub Components
==========================================================*/
@import 'cyberprotect-section/style.styl'
@import 'dataprotect-section/style.styl'
@import 'electronicsprotect-section/style.styl'