/*==========================================================
 Variables
==========================================================*/

/*==========================================================
 Main  Section
==========================================================*/
#main-section
    @extends .dropshadow
    background-color cd-theme-orange
    border-radius 80px
    padding 80px 0
    padding-bottom 0
    position: relative
    z-index 1

/*==========================================================
 Sub Components
==========================================================*/
@import 'cyberprotect-section/style.styl'
@import 'dataprotect-section/style.styl'
@import 'electronicsprotect-section/style.styl'