/*==========================================================
 General Content Styles
==========================================================*/
.content-frame
    @extends .full-height
    position relative
    width 100%
    max-width max-content-width
    margin auto

.fullscreen-frame
    @extends .full-height
    position relative
    width 100%

.sneaky-red-background
    position relative
    background-color: cd-theme-darkred
    height 2px
    width 100% 
    transform scaleY(80)

#intro-main-gap
    position relative
    background-color: cd-theme-darkred
    // height 440px
    height 20px
    width 100% 
    z-index: -1    

/*==========================================================
 Sub Components
==========================================================*/
@import 'hero-section/style.styl'
@import 'big-section/style.styl'
