//- main content structure
include hero-section/structure.pug
include intro-section/structure.pug
//- .sneaky-red-background
//- #intro-main-gap
//- .sneaky-red-background
//- include main-section/structure.pug
.sneaky-red-background
include outro-section/structure.pug