section#cyberprotect-section
    .content-frame
        #cyberprotect-text-block 
            h1 Cyber Protect - Unsere drei <b>Firewalls</b>
            #cyberprotect-firewalls-container
                .activatable-container
                    h2 Cyber Betriebsunterbrechung 
                        button 
                    p Cyber-Betriebsunterbrechungen können dich und dein Unternehmen innerhalb von Sekunden ruinieren! Schütze dich vor den verheerenden Auswirkungen von Cyberangriffen und stelle sicher, dass dein Unternehmen im Notfall jederzeit handlungsfähig bleibt.<br> Klicken Sie hier, um mehr über unsere zuverläßigen und effektiven Lösungen zur Prävention von CyberAtteken und mit den verbundenen Betriebsunterbrechungen zu erfahren!
                .activatable-container
                    h2 Cyber Haftpflicht
                        button 
                    p Unsere Cyber-Haftpflichtversicherung bietet dir die Sicherheit, die du benötigst, um dein Unternehmen gegen die Risiken einer digitalen Welt zu wappnen. Mit unserern Versicherungslösungen bist du im Fall einer Cyber-Attacke bestens abgesichert und kannst dich auf SChnelle Hilfe und kompetente Unterstützung verlassen. Schütze dein Unternehmen jetzt vor den Gefahren der digitalen Welt!
                .activatable-container
                    h2 Cyber Erpressung
                        button 
                    p Schütze dein Unternehmen vor den Gefahren der Cyber-Erpressung. Unsere Versicherungslösungen bieten dir die Sicherheit, die du benötigst, um im Falle einer Erpressung durch Cyberkriminelle abgesichert zu sein. Verlass dich auf schnelle Hilfe und kompetente Unterstützung im Schedensfall und sorge für eine umfassende Absicherung deiner wertvollen Daten und Systeme.
            button#cyberprotect-deepdive-button.click-button Deep Dive
        #cyberprotect-images-block 
            img#cyberprotect-image1(src="img/small-romuald-charpentier-lywMQSgALa0-unsplash.webp" alt="Futuristic Decoration Image.")
            img#cyberprotect-image2(src="img/small-tim-kabel-FCrYdP8gohg-unsplash.webp" alt="Futuristic Decoration Image.")
