/*==========================================================
 Cyber Protect Section
==========================================================*/
#cyberprotect-section
    background-color: cd-theme-orange

    .content-frame
        height auto

#cyberprotect-text-block
    position relative
    z-index 1
    color white
    padding 200px 80px 120px 80px
    min-height min-screen-height

    h1
        text-align: center
        margin-bottom 50px
    
    button
        position absolute
        @extends .light-dropshadow
        display block
        border-radius: 20px
        color cd-theme-orange
        background-color #fff
        height 40px
        width 300px
        bottom 80px
        right 80px

#cyberprotect-firewalls-container
    margin-left: 540px
    
    h2
        font-size: 36px
        margin-bottom 40px
    p
        margin-left: 40px
        line-height: 22px
        display none
    button
        position: relative
        top auto
        right auto
        bottom auto
        left auto
        display inline-block
        box-shadow 2px 2px 5px 0 #0002, inset 2px 2px 5px 0 #0002
        height 36px
        width 60px
        background-color white
        vertical-align: middle
        cursor pointer

    button:after
        box-shadow inset 2px 2px 5px 0 #0002
        content ""
        height 36px
        width 36px
        border-radius: 50%
        box-sizing: border-box
        background-color cd-theme-orange
        border solid 1px white
        box-sizing: border-box
        position absolute
        top 0
        left 0
        z-index: 2
        transition: all 0.3s cubic-bezier(0, 0.8, 0.8, 1)

    .active
        h2
            margin-bottom 20px
        p
            display block
            margin-bottom 55px

        button:after
            background-color cd-button-green
            transform translateX(24px)

#cyberprotect-images-block
    position absolute
    width 50%
    height 100%
    top 0
    left 0
    // border solid 2px black
    // box-sizing: border-box
    z-index: 0

    img
        @extends .light-dropshadow
        position absolute
        border-radius 60px
        overflow: hidden
        object-fit: cover
        background-color white

#cyberprotect-image1
    width 260px
    height 360px
    left 80px
    top 320px
    z-index 0

#cyberprotect-image2
    width 360px
    height 260px
    left 160px
    top 560px
    z-index 1

