section#outro-section
    #call-to-action-frame.content-frame
        #call-to-action-container
            h2 Schütze dich und dein Unternehmen<br> vor den Auswirkungen eines<br> Cyber Angriffs! 
            a#call-to-action.click-button(href="/protectnow.html") Protect Now
