section#outro-section
    #call-to-action-frame.content-frame
        #call-to-action-container
            p Schütze dich und dein Unternehmen vor den Auswirkungen eines Cyber Angriffs! 
            a#call-to-action.click-button(href="/protectnow.html") Protect Now
