/*==========================================================
 Outro Styles 
==========================================================*/
// #electronicsprotect-section
//     background-color: cd-theme-orange
//     .content-frame
//         min-height: 100vh
//         min-height: 100lvh
//         height auto
//         padding-top 240px
//         padding-bottom 180px

#call-to-action-container    
    text-align: center
    padding-bottom 300px
    margin auto

    h2
        font-size 56px
        line-height: 120%
        color white
        margin-bottom 80px
        
    a
        margin auto