/*==========================================================
 Outro Styles 
==========================================================*/
// #electronicsprotect-section
//     background-color: cd-theme-orange
//     .content-frame
//         min-height: 100vh
//         min-height: 100lvh
//         height auto
//         padding-top 240px
//         padding-bottom 180px

#call-to-action-container    
    text-align: center
    padding-bottom 300px
    margin auto

    p
        font-family: "Poppins Light"
        font-size 40px
        line-height: 50px
        color #fff
        margin-left auto
        margin-right auto
        margin-bottom 120px
        max-width: inner-content-width
        
    a
        margin auto


@media mobilescreen
    #call-to-action-container    
        p
            font-size 20px
            line-height: 23px
            max-width: 260px
            margin auto

        a
            display none
