//- intro structure
section#contactus-section
    .content-frame
        #contactus-side-decoration
            //- .decoration-gap
            #decoration-application
                img(src="/img/assecura-plattform.svg")
            #decoration-protection 
                img(src="/img/protect.svg")
            //- #decoration-assecura
            //-     svg: use(href="#svg-assecura-logo")
            //- .decoration-gap
        #contactus-calltoaction-frame
            #contactus-calltoaction-content
                p Du hast Fragen?<br> Wir sind bereit für dich
                a.click-button(href="/contact.html") Kontakt
