/*==========================================================
 Outro Section
==========================================================*/
#contactus-section
    background-color cd-theme-orange
    img
        display block
        object-fit: contain
        height 100%
        width 50%
        box-sizing: border-box
        margin-right auto
        padding 80px
    
    .decoration-gap
        height 100lvh
        width 100%

    .content-frame
        position relative
        height 100%

#decoration-application 
#decoration-protection 
#decoration-assecura
    height 100lvh
    width 100%
    padding-top 25%
    padding-bottom 25%


#decoration-assecura
    padding 80px 0
    box-sizing: border-box
    svg
        width 50%
        height 400px
        color cd-theme-orange


#contactus-calltoaction-frame
    @extends .full-height
    width 50%
    color black
    position fixed
    top 0
    right 0
    transform translateX(102%)
    transition: transform 0.3s
    z-index 80

#contactus-calltoaction-content
    position: absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    width 100%
    text-align: center

    a        
        box-shadow 2px 2px 7px 0 #0004, inset 2px 2px 7px 0 #0004         
        border-radius: 20px
        border solid 2px
        box-sizing: border-box
        color white
        background-color transparent
        height 40px
        cursor pointer
        line-height: 36px
        text-align: center
        font-family: NotoSans Regular
        width 300px
        font-size: 16px
        margin-top 80px

#contactus-calltoaction-frame.here
    transform translateX(0)
